<header>
    <span id="tagline">Powered by <a href="https://www.mapbox.com/">Mapbox</a> and <a href="https://www.weatherstack.com/">WeatherStack</a> APIs</span>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>