<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="https://img.icons8.com/color/96/000000/globe--v1.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="maincontent">
            {{>header}}
            <p>Click 'Current Location' for your location or Search the name of any place to know the Current Weather Forecast there.</p>
            <p>Searches for various Cities, Towns and Localities around the globe are supported.</p>
        </div>
        
        {{>footer}}
    </body>
</html>