<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="icon" href="https://img.icons8.com/color/96/000000/globe--v1.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="maincontent">
            {{>header}}
            <div id="options">
                <form>
                    <input placeholder="Your City">
                    <button id="search">Search</button>
                </form>
                <button id="location">Current Location</button>
            </div>
            <div id="display">
                <p id="p1"></p>
                <p id="p2"></p>
                <p id="p3"></p>
            </div>
        </div>
        {{>footer}}

        <script src="./script.js"></script>
    </body>
</html>